    <section>
    <hr/>
    <p>The Black Death Digital Archive has received generous support from the following institutions:</p>
        
    <ul>
        <li><a href="https://www1.villanova.edu/villanova/artsci/lepage.html">The Albert Lepage Center for History in Public Interest</a></li>
        <li><a href="https://www.mcmaster.ca">McMaster University</a></li>
        <li><a href="https://www.sshrc-crsh.gc.ca">The Social Sciences and Humanities Research Council</a></li>
        <li><a href="https://sc.edu">The University of South Carolina</a></li>
        </ul>
    </section>
